<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<body>

    <script src="./index.js"></script>
    <script>
        PacienteInfo(window.location.search)
        //console.log(window.location.search)
    </script>


<!--     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Título de la página</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <br>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Información de la persona</h1>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Nombre:</strong> Juan Pérez
              </li>
              <li class="list-group-item">
                <strong>Edad:</strong> 35 años
              </li>
              <li class="list-group-item">
                <strong>Correo electrónico:</strong> juan.perez@gmail.com
              </li>
              <li class="list-group-item">
                <strong>Teléfono:</strong> 555-1234
              </li>
              <li class="list-group-item">
                <strong>Dirección:</strong> Av. Siempreviva 123, Col. Centro, CDMX
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      
</body>
</html>